# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# Binaries & Temporary media
bin/
temp_downloads/
*.zip
*.tar.gz
*.exe

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
cookies.txt

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
